@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.body{
  overflow-x: hidden !important;
}

@layer components {
  .app-header {
    @apply flex items-center lg:py-5 py-5 padded-container absolute z-10 box-border top-0 w-full left-0;
  }
  .app-header.filled {
    background: rgba(88, 88, 88, 0.2);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.19);
  }

  .padded-container {
    @apply lg:px-[100px] px-[30px];
  }

  .glass {
    /* From https://css.glass */
    background: rgba(219, 219, 219, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(252, 252, 252, 0.657);
  }

  .input-glass {
    @apply glass focus:outline-none focus:border-white;
  }

  .now-playing-card {
    @apply glass;
    border-radius: 30px !important;
  }

  .now-playing-card:hover,
  .now-playing-card:focus {
    box-shadow: 1px 1px 3px 2px rgba(225, 225, 225, 0.622);
  }
  .now-playing-card.active {
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 3px 2px rgba(225, 225, 225, 0.622);
  }
  .now-playing-card.active .now-playing-card__play-button {
    @apply block;
  }

  .overlay-glass {
    @apply glass;
    backdrop-filter: blur(0) !important;
  }

  .movie-backdrop {
    @apply bg-slate-500 w-screen;
  }

  .backdrop-overlay {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #05151e);
    @apply absolute top-0 left-0 w-full h-full;
  }

  .grid-container {
    @apply grid lg:grid-cols-5 sm:grid-cols-2 grid-cols-1 w-full gap-x-[20px] gap-y-[32px];
  }

  .btn-play {
    background: rgba(184, 90, 37, 0.46);
    box-shadow: 1px 1px 0 2px rgba(237, 116, 48, 0.49);
    backdrop-filter: blur(4px);
    border-radius: 30px;
    transition: 200ms all;
  }

  .glass-card {
    background: rgba(86, 86, 86, 0.5);
    box-shadow: 1px 1px 0 2px rgba(225, 225, 225, 0.5);
    backdrop-filter: blur(4px);
    border-radius: 30px;
    transition: 200ms all;
  }

  .btn-play:hover {
    background: rgba(184, 90, 37, 0.6);
    box-shadow: 1px 1px 0 2px rgba(237, 116, 48, 0.65);
  }
  .movie-view {
    @apply absolute z-[9999] top-0 left-0 w-screen h-screen px-5 py-4 bg-slate-800 bg-opacity-80 flex justify-center items-center;
  }

  .movie-list-hor {
    @apply flex gap-[20px] w-full overflow-x-auto pt-3 pb-5 px-2;
  }

  .movie-card__img {
    box-shadow: 0px 1px 4px 1px rgba(46, 46, 46, 0.285);
    backdrop-filter: blur(5px);

    @apply lg:w-[232px] w-[150px] lg:h-[340px]  h-[200px];
  }
}

.sound-wave {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bar {
  width: 6px;
  height: 40px;
  background-color: #ed7430;
  border-radius: 5px;
  animation: bounce 1.2s infinite ease-in-out;
}

.bar:nth-child(2) {
  height: 60px;
  animation-delay: -1.1s;
}

.bar:nth-child(3) {
  height: 40px;
  animation-delay: -1s;
}

.bar:nth-child(4) {
  height: 70px;
  animation-delay: -0.9s;
}

.bar:nth-child(5) {
  height: 40px;
  animation-delay: -0.8s;
}

@keyframes bounce {
  0%,
  100% {
    /* height: 40px; */
    transform: scaleY(0.6);
  }
  50% {
    transform: scaleY(1);
  }
}
