@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app-header {
    @apply flex items-center lg:py-5 py-5 padded-container absolute z-10 box-border top-0 w-full left-0;
  }
  .app-header.filled{
    background: rgba(88, 88, 88, 0.2);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.19);
  }

  .padded-container {
    @apply lg:px-[100px] px-[30px];
  }

  .glass {
  
    /* From https://css.glass */
    background: rgba(219, 219, 219, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(252, 252, 252, 0.657);
  }

  .movie-card {
    box-shadow: 1px 1px 1px 2px rgba(255, 255, 255,0.6);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 1);
  }

  .input-glass {
    @apply glass focus:outline-none focus:border-white;
  }

  .now-playing-card {
    @apply glass;
    border-radius: 30px !important;
  }

  .now-playing-card:hover {
    box-shadow: 1px 1px 3px 2px rgba(225, 225, 225, 0.622);
  }
  .now-playing-card.active {
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 3px 2px rgba(225, 225, 225, 0.622);
  }
  .now-playing-card.active .now-playing-card__play-button {
    @apply block;
  }

  .overlay-glass {
    @apply glass;
    backdrop-filter: blur(0) !important;
  }

  .movie-backdrop {
    @apply bg-slate-500 w-screen;
  }

  .backdrop-overlay {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.23), #05151e);
    @apply absolute top-0 left-0 w-full h-full;
  }

  .grid-container {
    @apply grid lg:grid-cols-5 sm:grid-cols-2 grid-cols-1 w-full gap-x-[20px] gap-y-[32px];
  }

  .btn-play{
    background: rgba(184, 90, 37, 0.46);
    box-shadow: 1px 1px 0 2px rgba(237, 116, 48, 0.49);
    backdrop-filter: blur(4px);
    border-radius: 30px;
    transition: 200ms all;
  }
  .btn-play:hover{
    background: rgba(184, 90, 37, 0.6);
    box-shadow: 1px 1px 0 2px rgba(237, 116, 48, 0.65);
  }
  .movie-view{
    @apply absolute z-[9999] top-0 left-0 w-screen h-screen flex justify-center items-center p-[100px] bg-slate-800 bg-opacity-50;
  }
}
